<div style="padding:10em">
	<div class="panel panel-default">
		<div class="list-group">
			<li class="list-group-item">Click on Create New Form Button</li>
			<li class="list-group-item">Add new Fields as required</li>
			<li class="list-group-item">Set the Properties of each Field</li>
			<li class="list-group-item">Click on the Preview Form to verify the changes</li>
			<li class="list-group-item">Verify if the Files are generated as expected</li>
			<li class="list-group-item">Click on Download to download the package generated</li>
		</div>
	</div>
</div>